# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs
/storage/framework
/bootstrap/cache
.phpunit.result.cache
.phpunit.cache
.env
.env.*
Homestead.yaml
Homestead.json
auth.json

# Laravel SSR / Vite
/public/build
/public/hot
/resources/js/.vite/    # nếu xài Vite

# IDE & Editor
/.idea
/.vscode
/.fleet
/.phpactor.json
/.nova
/.zed

# Debug / log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# React build
/build
dist/

# Mac / Linux / Windows system
.DS_Store
Thumbs.db

# Optional backup
.env.backup
.env.production

# Laravel Telescope (nếu dùng)
storage/telescope

# Redis dump file
dump.rdb
