version: "3.9"

services:
  laravel_server:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    container_name: laravel_server
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
      - ./docker/nginx-log:/var/log/nginx
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8088:80"
