version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-allinone-blue
    image: demoage
    ports:
      - "8088:80"
    volumes:
      - ./docker/nginx-log:/var/log/nginx
    networks:
      - laravel_net

networks:
  laravel_net:
    external: true
